@font-face {
    font-family: 'TSTAR PRO Bold';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Bold.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Bold Italic';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Bold-Italic.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Headline';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Headline.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Italic';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Italic.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Light';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Light.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Light Italic';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/TSTAR-PRO-Light-Italic.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Medium';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Medium.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Medium Italic';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Medium-Italic.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Regular';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Regular.woff') format('woff');
}
@font-face {
    font-family: 'TSTAR PRO Regular 2';
    src: url('/mypatent_cb_font_tstar/static/src/fonts/font tstar website/font tstar website/TSTAR-PRO-Regular 2.woff') format('woff');
}



